
*{
    --flag:0;
    font-family: Arial, Helvetica, sans-serif !important;
    
}
body {
    /* Base styles for scrollable content */
    overflow-y: auto;
  }
  
  ::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:#222634; /* Color of the scrollbar thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color:#121212; /* Color of the scrollbar track */
  }
  
body{

    margin:0px;
    height: 100%;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{

    margin-top:2vh;
    border-radius: 30px;
      width: 98vw;
    height: 98vh;
   
}

.left  {
    width:25vw;
    margin: 3px;
    background-color: #121212;
    border-radius: 10px;
    padding-bottom: 25px;;
    padding-top: 25px;;
    padding-left: 10px;
    height:fit-content;
    /* -webkit-box-shadow: 0px 6px 29px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 6px 29px 0px rgba(0,0,0,0.39);
box-shadow: 0px 6px 29px 0px rgba(0,0,0,0.39); */
    
}
.searchBoxContainer{
    background: black;
    width: 95%;
    border-radius: 10px;
    position: relative;
}

.searchWaveIcon{
    width: 10%;
    margin-left: 5px;
    position: absolute;
    right: 5px;
}
#searchBox{
    border-radius: 10px;
    width: 80%;
    background: black;
    outline: none;
    border: 0px;
    padding: 10px 2px;
    font-size: 16px;
    color: white;
    place-content: center;
    border-radius: 5px solid white;
}
.searchResultsContainer{
    position: absolute;
    background: black;
    width: 100%;
    z-index: 6;
    top: 120%;
    border-radius: 10px;
             
}
.searchResultCard{

    color: white;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    padding: 12px 0px;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-evenly;
    justify-content: space-between;
}
.searchResultCard:hover{
    background: #3e54ac;
}
.right{
    width:75vw;

    margin: 3px;
    background-color: #121212 ;
    border-radius: 10px;
   -webkit-box-shadow: 0px 6px 29px 0px rgba(0,0,0,0.39);
   -moz-box-shadow: 0px 6px 29px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 6px 29px 0px rgba(0,0,0,0.39);
    
}
.logo img{
    width: 10%;
    margin: 5px;
}

.right-top-container{
    justify-content: space-between;
    background-color: #101010;
    padding-bottom: 25px;;
    padding-top: 25px;;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.right-top-container-left{

    display: flex;
    gap: 30px;
    padding-left: 3%;;
}
.right-top-container-right{
    justify-content: end;;
}
.leftButton{
    padding: 10px 12px; 
    border-radius:50%;
    background-color: black;; 
    border: 3px solid #3E54AC;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.rightButton{
    padding: 10px 12px;
    border-radius:50%;
    background-color: black; 
    border: 3px solid #3E54AC;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.leftButton:hover{
    background-color:#ECF2FF;
}
 .rightButton:hover{
    background-color:#ECF2FF;
}
.right-top-container-right{
    display: flex;
    gap: 30px;;
    padding-right:5%;
}
.right-top-container-right img{
    display: none;
    width: 5%;
}
.signUp, .signOut{
    color:#3E54AC;
    font-size:1.2rem;
    font-weight: bold;
    background-color:#101010;
    border:none;
    transition: 0.5s ease-in-out;
    cursor:pointer;
}
.login{
    font-size:1.2rem;
    padding:10px;
    padding-left:25px;
    padding-right: 25px;;
    border-radius: 30px;;
    cursor: pointer;
    background-color: #3E54AC;
    color:#ECF2FF;
    border:5px solid #3E54AC;
    transition: .5s ease-in-out;
    font-weight: bold;
}
.login:hover{
    background-color: #ECF2FF;
    color: #101010;
}
.signOut:hover{
    color:#ECF2FF;
}
.signUp:hover{
    color:#ECF2FF;
}
.signOut{
    display: none;
}
#profilePic{
    display: inline-block;
    width: 12%;
    border-radius: 100%;
    border: 4px solid #3e54ac;
    display: none;
}

.aiImage{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-shadow: 0 0px 40px #3E54AC, 0 5px 25px #3e54ac;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.aiImage img{
    display: flex;
    background: #3E54AC;
    border-radius: 6px;
    width: 50px 

}
.aiImage::before{

    content: '';
    width: 58px;
    position: absolute;
    height: 58px;
    /* right: 0px; */
    z-index: -1;
    border-radius: 18px;
    background: #ECF2FF;
    animation: rotation 2s infinite linear;


}

.aiContainer{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45%;
    background: #121212;
    margin: 0px auto;
    width: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:15px;
    box-shadow: 0 0px 10px #3E54AC, 0 0px 40px #3e54ac;
    padding: 20px;
    height: auto;
    justify-content: center;
    animation: down 2s ease-in-out;
    color:#ECF2FF;
}
@keyframes down {
    0%{
       top: -100%; 
    }
 
    100%{
        top: 45%;
    }
}
.aiTextContainer
{
    display: flex;
   justify-content: center;
   align-items: center;

    width: 100%;
    flex-direction: column;
}
.aiTextContainer input{
    width: 95%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 6px;
   border:2px solid #3e54ac;
   background-color: #3a3434;
   color: #ECF2FF;
   outline: none;
   transition: all 0.5s ease-in-out;
   
}
.aiTextContainer input:focus{

    border: 2px solid #ECF2FF;
}
#aiGenerateButton{
    margin: 0px auto;
    padding: 12px;
    margin-top: 20px;
    width: fit-content;
    color: #ECF2FF;
    background: #3e54ac;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size:14px;
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
#aiLoading{
    display: none;
    animation: rotation 2.3s infinite linear;

}
#aiGenerateButton:hover{
    box-shadow: 0 0px 10px #ECF2FF, 0 0px 5px #ECF2FF;
   

}
.audioPlayerContainer{

    margin: 0px auto;
}
.audioPlayerContainer audio{
    margin: 25px auto;
    border: 4px solid #3e54ac;
    border-radius: 30px;
}

.library{

    display: flex;
    align-items: center;
    gap:30px;
    width:25vw;
    margin: 3px;
    background-color: #121212;
    border-radius: 10px;
    padding-bottom: 15px;;
    padding-top: 15px;;
    padding-left: 10px;
    height:fit-content;
}
.right-bottom-container{
    padding: 20px;;
    background-color: #121212;
}

.playlistContainer{
 width:75%;
 display: flex;
 background-color: #121212 ;
 gap:5%;
 flex-wrap: wrap;
 height: 75dvh;
 overflow-y: scroll;
 overflow-x: hidden;

}

.card{
    width: 25%;
    padding: 10px;;
    background-color: #151515;
    color:#ECF2FF;
    border-radius: 10px;;
    cursor:pointer;
    transition: .4s ease-in-out;
    position: relative;

}
.card:hover {
    background-color:#3E54AC;
    
}
.card:hover .playButton{
    opacity: 1;
    bottom: 10%;
}

.card img{
    width: 100%;
    border-radius:10px;
    height: fit-content;
    

}


.albumDetails *{

    font-size:90%;
}
.albumImage{
    position: relative;
}
.playing{

    display: flex;
    align-items: center;
    justify-content: center;
}
.playButton , .playCardButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: -10%;
    background-color: #3E54AC;
    width: 10%;
    height: 10%;
    transition: 0.8s ease-in-out;
    opacity: 0;
}
.playButton img{

  width: 100%;;

}
.volumeContainer *{
    cursor: pointer;
}
.mediaPlayerContainer{


    width: 25%;
 
    background: linear-gradient(to bottom, #3E54AC , #ECF2FF);
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.mediaPlayer{
    padding:10px;
}
.mediaAction{
    background: transparent;
    bottom: 22px;
    padding-top: 20px;;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
        border-radius: 10px;;
    
}
.mediaActionButtons {

    display: flex;
    gap: 5%;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.mediaActionButtons button{
    background:transparent;
    border: 2px solid #3E54AC;
    padding: 15px;;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
    border: none;

}
.volumeContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
   
}
.songListsContainer{

    color: #3E54AC;
    width: 25vw;
    margin: 3px;
    padding-left: 10px;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65dvh;
    flex-direction: column;


}
/* The container */

/* The scrollbar */
.songListsContainer::-webkit-scrollbar {
  width: 10px;
}

/* The scrollbar track */
.songListsContainer::-webkit-scrollbar-track {
  background: black;
}

/* The scrollbar handle */
.songListsContainer::-webkit-scrollbar-thumb {
  background: #121212;;
}

/* The scrollbar handle on hover */


.songCard{
    display: flex;
    gap: 20px;
    cursor: pointer;
 
    padding: 15px;;
    border-bottom:3px solid #121212;
    position: relative;
    transition: 0.5s ease-in-out;
    
}

.songCard::after{
    content: "";
    background-color:#ECF2FF;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0.175rem;
    left: 0;
    transform: scale(0,1);
    transition: transform 0.5s ease-in-out;
}


.songCardDetails{

    display: flex;
    width: 100%;
    gap: 10px;;
    flex-direction: column;
}

.songCard:hover{

    background-color:#3E54AC !important;
    border-radius: 5px;

}
.songCard:hover .songCardDetails{
    color:#ECF2FF   ;
}
.songCard:hover::after{
    transform: scale(1,1);

}
.playCardButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: -5%;
    bottom: 20%;
    background-color: transparent;
    width: 30px;
    height: 30px;
    transition: 1s ease-in-out;
    opacity: 0;

}
.songCard:hover .playCardButton{
    opacity: 1;
    right: 10px;
}
.nowPlaying:hover{

    background-color: #ECF2FF !important;
}
.nowPlaying:hover .songCardDetails{
    color:#3e54ac !important;
}
.playing img{

        width: 45px;
        height: 45px;
        animation: rotation 2s infinite linear;
    
   
      
}
   
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .right{
    height: 108% ;
  }
  
.seekBarContainer{

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seekBar{

    height: 4px;
    width: 98%;
    /* border: 2px solid rgb(62, 84, 172); */
    background-color: rgb(62, 84, 172);
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid rgb(236, 242, 255);
    position: relative;
    background-color: rgb(62, 84, 172);
    /* bottom: 171%; */
    bottom: top;
    /* bottom: -171%; */
    /* top: -63%; */
    bottom: 7px;
    left: 0px;
    margin: 0px;
    transition: left 0.5s ;
    cursor: pointer;
}

.songInfo *{
 
    font-size: 130%;
    color: #121212; 
  
}
.songDurationContainer{

    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 2px 10px 2px;
    color:#3E54AC
}
.hamburger-menu {
    position: relative;
    display: none;
    cursor: pointer;
  }
  
  .hamburger-menu .line {
    display:block;
    width: 35px;
    height: 6px;
    background:#3E54AC ; /* Customize the color as needed */
    margin: 5px;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
  }
  .hamburger-menu.active .line-1 {
    transform: translateY(11px) rotate(45deg);
  }
  
  .hamburger-menu.active .line-2 {
    opacity: 0;
  }
  
  .hamburger-menu.active .line-3 {
    transform: translateY(-11px) rotate(-45deg);
  }
  .hamburger-menu-left{

    position: relative;
    
    padding-right:20px;
    cursor: pointer;
    display: none;;
  }
  .hamburger-menu-left .line {
    display:block;
    width: 35px;
    height: 6px;
    background:#3E54AC ; /* Customize the color as needed */
    margin: 5px;
    transition: all 0.3s ease-in-out;
    border-radius:10px;
  }
  .hamburger-menu-left.active .line-1 {
    transform: translateY(11px) rotate(45deg);
  }
  
  .hamburger-menu-left.active .line-2 {
    opacity: 0;
  }
  
  .hamburger-menu-left.active .line-3 {
    transform: translateY(-11px) rotate(-45deg);
  }
.mob_menu{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Responsive design */
#userWelcomeMob{
    display:none;
}
.loginMobile{
    display:none ;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.footerSocialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footerSocialMedia *{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.libraryContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:1500px ) {
    
    .left{
        margin-left: 0px;
    }
    .leftContainer{
        padding-left: 0px !important;;
    }
    .right{
        height: max-content;
        position: relative;
    }
    .right-bottom-container{

        flex-direction: column;
        height: 85%;
        padding: 5px;;
    }

    .playlistContainer{
        width: 100%;
        gap:3%;
        
    
    }
    .mediaPlayerContainer{
        width: 100%;
        margin-top: auto;
         height: fit-content;
         box-shadow:#3E54AC 0px 10px 15px -3px inset, #3E54AC 0px 4px 6px -4px;
         background:linear-gradient(to bottom, #3E54AC, #ECF2FF );
         /* background: #ECF2FF; */
         border-radius: 10px;
         padding-bottom:10px;


    }
    .mediaPlayer{
        display: flex;
        align-items: center;
        gap: 5%;
    }
    .mediaAlbumImage{
        width: 10% !important;
    }
    .mediaAlbumImage img{
        width: 100%;
        border-radius: 2px;
    }
    .songInfo *{
         margin: 4px;;
    }
    .mediaActionButtons{
        padding-top: 0px;
    }
    .mediaActionButtons button{
        padding:4px;

    }
    .songListsContainer{
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .footerContainer{
        padding-top: 10px;
    }
    
}

@media (max-width: 1150px) {
    .container{
        margin-top: 0px;
    }
    .footerContainer{
        position: relative;
    }
    .hamburger-menu{
        display: inline-block;
    }
    .hamburger-menu-left{

        display: inline-block;
      }
    .leftContainer{

        position: absolute;
        left: -110%;
        z-index: 3;
        height: 100%;
        padding: 5px;
        width: 100%;
        background-color: black;

        transition: left 1s ease-in-out;
    }
    .songListsContainer{
        min-height: 72dvh;
        height: 100%;
    }
    .left{
        width: 100%;

    }
   .library{
    width: 100%;
   }
   .songListsContainer{
    width: 100%;
   }
    .right{
        width: 100vw;
        height: 100%;
    }
}

@media (max-width: 800px)
{ 
    #profilePic{
        width: 15%;
    }
    #hamWindow{
        width: 20% !important;
    }
    #userWelcomeDesk{
        display:none;
    }
    #userWelcomeMob{
        display: block;
    }
    .playlistContainer{
        justify-content: center;
    }
    .card{
        width: 40%;
        margin: 5px auto;
    }
    
    
}
@media (max-width:600px){

    #signout{
        display: none !important;

    }
    #login{
        display: none !important;
    }
    #signup{
        display: none !important;
    }
    .right{
        height: max-content;
    }
    .right-top-container-right{
            justify-content: end;
    }
    .right-top-container-right img{
        display: inline-block;
        width: 10%;
    }
    .loginMobile{
        display:flex ;
    }
    .right-top-container-right{
        width: 70%;
    }
    .right-top-container-right button{
        display: none;
    }
    .mobLoginContainer{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        width: 200px;
        gap: 15px;
        
    
    }
    .mobLoginContainer button{
        display: flex;
        outline: none;
        background-color: #12122A;
        color: #3e54ac;
        padding: 5px 10px;
        border-radius:10px;
        border: none;

    }
    .aiImage img{
        width: 50px;
    }
    .aiContainer{
        width: 80%;
    }
    .songInfo * {
        font-size: 100%;
        color: #121212;
    }
}